body {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(https://cssanimation.rocks/images/random/space2.jpg);
	font-family: "Noto Sans JP", sans-serif;
}

.App {
	background: center / contain no-repeat
		url(https://cssanimation.rocks/images/random/earth.png);
	box-shadow: 0 0 100px rgba(246, 198, 64, 0.745);
	border-radius: 60%;
	margin: 60px auto;
	max-height: 650px;
	max-width: 650px;
	min-height: 650px;
	min-width: 650px;
	text-align: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
