.Forecast {
  font-weight: 400;
  left: 46px;
  margin: 55px auto;
  position: relative;
  width: 90%;
}

.Forecast .ForecastWrap {
  border-radius: 50px;
  filter: drop-shadow(0px 0px 15px rgb(239, 212, 185));
  line-height: 1.2;
}

.Forecast .ForecastDate {
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-shadow: 1px 1px 2px gold, 0 0 1em rgb(187, 187, 243),
    0 0 0.2em rgb(240, 241, 161);
}

.Forecast .ForecastIcon {
  filter: drop-shadow(5px 2px 15px rgb(252, 250, 251));
  font-size: 35px;
  margin: 0 auto;
}

.Forecast .ForecastTempMax {
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-shadow: 1px 1px 2px gold, 0 0 1em rgb(187, 187, 243),
    0 0 0.2em rgb(240, 241, 161);
}

.Forecast .ForecastTempMin {
  bottom: 9px;
  color: rgb(212, 212, 202);
  filter: drop-shadow(0 0 1px rgb(0, 0, 0));
  font-size: 15px;
  position: relative;
  text-shadow: 1px 1px 2px rgb(33, 0, 181), 0 0 1em black, 0 0 0.2em black;
}
